.parent{
    width: 50%;
    margin: auto;
    margin-top: 15vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(168, 15, 15);
    min-width: 370px;
    background-image: linear-gradient(rgb(221, 157, 157),yellow);

}